@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600&display=swap');
@import url(https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom);

* {
    border:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

main {
    background-image: url(/images/bg-pattern-intro.svg);
    background: linear-gradient(180deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 100%);
    background-repeat: no-repeat;
    padding: 0;
    border-radius: 0 0 0 8em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 0 0;
    padding: 3em;
}


#burger {
    width:40px;
    height:40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 0;
    cursor: pointer;
    transition: 0.3s all;
}

#stroke {
    content: '';
    position: absolute;
    width:40px;
    height:3px;
    background-color: #fff;
    transform: translateY(0px);
    transition: 0.3s all;
    opacity: 100%;
}

#burger::before {
    content: '';
    position: absolute;
    width:40px;
    height:3px;
    background-color: #fff;
    transform: translateY(10px);
    transition: 0.3s all;
}

#burger::after {
    content: '';
    position: absolute;
    width:40px;
    height:3px;
    background-color: #fff;
    transform: translateY(-10px);
    transition: 0.3s all;
}

.main-title h1 {
    text-align: center;
    color:white;
    margin: 2em 0.75em 0 0.75em;
    font-family:overpass;
    font-size: 40px;
}

.main-title p {
    text-align: center;
    color:white;
    font-family:overpass;
    font-weight: 300;
    font-size: 22px;
    opacity: 0.9;
    margin: 1em 0.75em 0 0.75em;
}

.buttons-main {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 3em 0 10em 0.75em;
}

.button-01 {
    display: flex;
    align-items: center;
    background-color:#ff8e93cb;
    color:white;
    border-radius: 5em;
    font-family: overpass;
    font-weight: bolder;
    margin: 0 1em 0 0;
    padding: 1em 2em;
    cursor: pointer;
    font-size: 16px;
}
.button-02 {
    display: flex;
    align-items: center;
    background-color:#ff8e93cb;
    color:white;
    border-radius: 5em;
    font-family: overpass;
    font-weight: bolder;
    margin: 0 1em 0 0;
    padding:1em 2em;
    cursor: pointer;
    font-size: 16px;
}

button.button-01:hover {
    background-color: white;
    color: #ff585f;
    transition: 0.5s all;
}

button.button-02:hover {
    background-color: white;
    color: #ff585f;
    transition: 0.5s all;
}


section.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-one-title h1 {
    font-family: overpass;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    color: hsl(208, 49%, 24%);
    margin: 3em 0 2em 0;
}

.image-one {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one-title-02 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 3em;
}

.section-one-title-02 h1 {
    font-family: overpass;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    color: hsl(208, 49%, 24%);
    margin: 2em 0 1em 0;
}

.section-one-title-02 p {
    color:hsl(207, 13%, 34%);
    line-height: 1.75em;
    font-size: 16px;
    opacity: 0.9;
    font-family: overpass;
    margin: 0 0 2em 0;

}

.section-one-title-03 {
    padding: 0 3em;
}

.section-one-title-03 h1 {
    font-family: overpass;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    color: hsl(208, 49%, 24%);
    margin: 2em 0 1em 0;
}

.section-one-title-03 p {
    color:hsl(207, 13%, 34%);
    line-height: 1.75em;
    font-size: 16px;
    opacity: 0.9;
    font-family: overpass;
    margin: 0 0 6em 0;
    text-align: center;
}

.iphones {
    display: flex;
    width:auto;
    margin: 0 0 3em 0;
    z-index: 1;
}

.iphones img {
    width:22em;
    height:auto;
    z-index: 1;
}

section.two {
    background-color: hsl(237, 23%, 32%);
    width:100vw;
    height:auto;
    padding: 0 3em;
    margin: -16em 0 0 0;
    z-index: -1;
    border-radius: 0 5em 0 8em;
    background-image: url(/images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size:45em;
    background-position-x: center;
    background-position-y: -20em;
}

.heading-section-two h1 {
    text-align: center;
    font-family: overpass;
    font-weight: bold;
    font-size: 40px;
    color:white;
    margin: 5em 0 1em 0;
}

.paragraph-section-two p {
    text-align: center;
    font-family: overpass;
    font-weight: lighter;
    font-size: 16px;
    color: white;
    opacity: 0.75;
    line-height: 1.75em;
    margin: 0 0 8em 0;
}

.computer {
    margin: 4em 0;
    display: flex;
    justify-content: center;
}

.heading-section-three-one h1 {
    text-align: center;
    font-family: overpass;
    font-weight: bold;
    font-size: 32px;
    margin: 0 0 1em 0;
}

.paragraph-section-three-one {
    text-align: center;
    font-family: overpass;
    font-weight: lighter;
    font-size: 16px;
    opacity: 0.75;
    line-height: 1.75em;
    margin: 0 0 5em 0;
    padding: 0 3em;
}

.heading-section-three-two h1 {
    text-align: center;
    font-family: overpass;
    font-weight: bold;
    font-size: 32px;
    margin: 0 0 1em 0;
}

.paragraph-section-three-two {
    text-align: center;
    font-family: overpass;
    font-weight: lighter;
    font-size: 16px;
    opacity: 0.75;
    line-height: 1.75em;
    margin: 0 0 5em 0;
    padding: 0 3em;
}

footer {
    background-color: hsl(240, 10%, 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    border-radius: 0 6em 0 0;
}


.logo-footer img {
    height:auto;
    width:100px;
    margin: 4em 0 2em 0;
}

.product h2 {
    font-family: overpass;
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 1em 0 0 0;
}

.product ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;
}


.product li a {
    align-items: center;
    color: white;
    font-family: overpass;
    list-style: none;
    text-decoration: none;
    opacity: 0.5;
}

.company h2 {
    font-family: overpass;
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 1em 0 0 0;
}

.company ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;
    opacity: 0.5;
}

.company li a {
    align-items: center;
    color: white;
    font-family: overpass;
    list-style: none;
    text-decoration: none;
    margin: 0 10em;
}

.connect h2 {
    font-family: overpass;
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 1em 0 0 0;
}

.connect ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1em 0 4em 0;
    opacity: 0.5;
    list-style: none;
}

.connect li a {
    align-items: center;
    color: white;
    font-family: overpass;
    list-style: none;
    text-decoration: none;
}

.nav-links {
    display: none;
}

.login {
    display: none;
}

.sign-up {
    display: none;
}

#stroke.active {
    opacity: 0%;
    transition: 0.3s all;
}

#burger.active::before{
    transform: translateY(0px) rotate(45deg);
    transition: 0.3s all;
}

#burger.active::after{
    transform: translateY(0px)  rotate(-45deg);
    transition: 0.3s all;
}

#menu-mobile {
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0 3em 0 3em;
    overflow: hidden;
    height: 0px;
    border-radius: 10px;
    transition: 0.5s all;
    opacity: 0%;
}

#menu-mobile.active {
    padding: 2em;
    height:550px;
    transition: 0.5s all;
    z-index: 1;
    opacity: 100%;
}

#menu-mobile ul {
    font-family:overpass;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.75em;
}

#menu-mobile li a {
    text-decoration: none;
    color:black;
    opacity: 75%;
}

#products-mobile{
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem;
}

#products-mobile::after {
    content: '';
    position: absolute;
    width:1rem;
    height:0.75rem;
    background-image: url(/images/icon-arrow-dark.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-origin: ;
    transition: 0.3s ease;
    transform: translateY(3px);
    transform: rotate(0deg);
    margin: 0.25em 0 0 0.5em;
    cursor:default;
}

#company-mobile{
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem;
}

#company-mobile::after {
    content: '';
    position: absolute;
    width:1rem;
    height:0.75rem;
    background-image: url(/images/icon-arrow-dark.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    transition: 0.3s all;
    transform: translateY(3px);
    margin: 0 0 0 1em;
    cursor:default;
}

#connect-mobile{
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem;
}

#connect-mobile::after {
    content: '';
    position: absolute;
    width:1rem;
    height:0.75rem;
    background-image: url(/images/icon-arrow-dark.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    transition: 0.3s all;
    transform: translateY(3px);
    margin: 0 0 0 1em;
    cursor:default;
}

#products-collapse {
    width:100%;
    height:0px;
    overflow: hidden;
    transition: 0.3s all;
}

#products-collapse li  {
    margin: 0.3em 0;
    overflow: hidden;
}


#company-collapse {
    height:0px;
    width:100%;
    overflow: hidden;
    transition: 0.3s all;
}

#company-collapse li  {
    margin: 0.3em 0;
    overflow: hidden;
}

#connect-collapse {
    height:0;
    width:100%;
    overflow: hidden;
    transition: 0.3s all;
}

#connect-collapse li  {
    margin: 0.3em 0;
    overflow: hidden;
}

#products-collapse.active {
    height:170px;
    overflow: hidden;
    transition: 0.3s all;
    background-color: #efeff1;
    margin: 1em 0;
}

#company-collapse.active {
    height:125px;
    overflow:hidden;
    margin: 1em 0;
    background-color: #efeff1;
    transition: 0.3s all;
}

#connect-collapse.active {
    height:125px;
    margin: 1em 0;
    transition: 0.3s all;
    background-color: #efeff1;
}

#products-mobile.active::after {
    transform: rotate(180deg);
}

#company-mobile.active::after {
    transform: rotate(180deg);
}

#connect-mobile.active::after {
    transform: rotate(180deg);
}

.login-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #efeff1;
}

.login-mobile h1 {
    font-family: overpass;
    font-size: 1.3rem;
    padding: 0.75rem 0 0.75rem 0;
    cursor: pointer;
}


button.sign-up-mobile {
    display: block;
    margin:auto;
    font-size: 1rem;
    font-weight: bolder;
    padding:1rem 2rem;
    border-radius: 2rem;
    color:white;
    background: linear-gradient(90deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 100%);
    cursor: pointer;
}

















@media screen and (min-width: 1050px) {

    #menu-mobile {
        display: none;
    }

    #menu-mobile.active {
        display: none;
    }

    #burger {
        display: none;
    }

    main {
        padding: 0 8em 0 8em;
    }

    .nav-links {
        align-items: center;
        width:50%;
        height:100%;
        position: absolute;
        margin: 0 0 0 7.5em;
        display: flex;
    }

    .nav-links ul {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        list-style: none;
        text-decoration: none;
        overflow: hidden;

    }

    .nav-links li {
        font-family: overpass;
        list-style: none;
        text-decoration: none;
        font-size: 14px;
        color: white;
        text-decoration: none;
        list-style: none;
        font-size: 14px;
        cursor: pointer;
    }


    .arrow-01 {
        margin: 0 2em 0 0.5em;
        transition: 0.3s all;
        overflow: hidden;
    }

    .arrow-02 {
        margin: 0 2em 0 0.5em;
        transition: 0.3s all;
        overflow: hidden;
    }

    .arrow-03 {
        margin: 0 2em 0 0.5em;
        transition: 0.3s all;
        overflow: hidden;
    }

    .buttons-desktop {
        display: flex;
    }

    .logo img {
        cursor: pointer;
    }

    .login {
        display: flex;
        align-items: center;
        color:white;
        border:none;
        background-color: transparent;
        font-family: overpass;
        font-size: 16px;
        padding: 0 1em 0 0;
        opacity: 1;
    }

    .sign-up {
        display: flex;
        align-items: center;
        color: white;
        background-color:#ff8e93cb;
        padding: 0.5em 1.5em;
        border-radius: 5em;
        font-family: overpass;
        font-weight: bolder;
        font-size: 16px;
        cursor: pointer;
    }

    .sign-up:hover{
        background-color: white;
        color: #ff585f;
        transition: 0.5s all;
    }

    .login:hover{
        cursor: pointer;
    }

    .main-title h1 {
        font-size: 50px;
    }

    .main-title p {
        font-size: 20px;
    }

    .group-01 {
        display: flex;
        flex-direction: row-reverse;
    }

    .image-one  {
        margin: 0 -20em 0 0;
        width:215%;
    }

    .image-one img {
        transform: scale(1.8);
    }

    .section-one-title-02 {
        padding: 0 3em 0 8em;
    }

    .section-one-title-02 h1 {
        text-align: left;
    }

    .section-one-title-02 p {
        text-align: left;
    }
    .section-one-title-03 {
        padding: 0 3em 0 8em;
    }

    .section-one-title-03 h1 {
        text-align: left;
    }

    .section-one-title-03 p {
        text-align: left;
    }

    .iphones {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width:100%;
        margin:5em 0 0 10em;
    }

    .iphones img {
        width:45%;
    }

    section.two {
        padding: 0 8em 0 8em;
        margin: -33em 0 0 0;
        background-position-x: 4em;
        background-position-y: -20em;
    }

    .heading-section-two h1 {
        text-align: left;
        margin: 4em 0 1em 0;
    }

    .paragraph-section-two p {
        text-align: left;
    }

    .section-two-content {
        padding: 0 0 0 55%;
    }


    section.three {
        padding: 10em 0 10em 0;
        background-image: url(/images/illustration-laptop-desktop.svg);
        background-repeat: no-repeat;
        background-position: center left;
        background-position-x: -20em;
        background-size: 55em;
    }

    .computer {
        display: none;
    }

    .section-three-content {
        padding: 0 8em 0 55%;
    }

    .heading-section-three-one h1 {
        text-align: left;
    }

    .paragraph-section-three-one {
        text-align: left;
        padding:0;
    }

    .heading-section-three-two h1 {
        text-align: left;
    }

    .paragraph-section-three-two {
        text-align: left;
        padding:0;
    }


    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin:0;
        padding:10em 15em 10em 8em;
    }

    .logo-footer {
        padding:0;
        margin:0;
    }

    .logo-footer img {
        padding:0;
        margin:0;
    }

    .product {
        padding:0;
        margin:0;
        text-align: left;
    }

    .product h2 {
        padding:0;
        margin:0;
        text-align: left;
    }

    .product ul {
        padding:0;
        margin: 2em 0 0 0;
        text-align: left;
        align-items: flex-start;
    }

    .product li {
        margin: 0.3em 0;
    }

    .product li a {
        padding:0;
        margin:0;
        text-align: left;
    }

    .product li a:hover {
        border-bottom: 2px solid white;
    }


    .company {
        padding:0;
        margin:0;
    }

    .company h2 {
        padding:0;
        margin:0;
        text-align: left;
    }

    .company ul {
        padding:0;
        margin:2em 0 0 0;;
        align-items: flex-start;
    }

    .company li {
        padding: 0.3em 0;
    }

    .company li a {
        padding:0;
        margin:0;
        text-align: left;
    }

    .company li a:hover {
        border-bottom: 2px solid white;
    }


    .connect {
        padding: 0;
        margin:0;
    }

    .connect h2 {
        padding:0;
        margin:0;
        text-align: left;
    }

    .connect ul {
        padding:0;
        margin: 2em 0 0 0;
        text-align: left;
        align-items: flex-start;
    }

    .connect li {
        margin: 0.3em 0;
    }

    .connect li a {
        padding:0;
        margin:0;
        text-align: left;
    }

    .connect li a:hover {
        border-bottom: 2px solid white;
    }

    .products-dropdown {
        position: absolute;
        padding:0;
        margin: 2em 0 0 -0.75em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border-radius: 0.5em;
        opacity: 0%;
    }

    .products-dropdown li a {
        color:black;
        text-decoration: none;
        opacity: 50%;
        padding:0.5em;
        display: flex;
        cursor:context-menu;
    }

    .company-dropdown {
        position: absolute;
        padding:0;
        margin: 2em 0 0 6.25em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border-radius: 0.5em;
        opacity: 0%;
    }

    .company-dropdown li a {
        color:black;
        text-decoration: none;
        opacity: 50%;
        padding:0.5em 2em 0.5em 0.5em;
        display: flex;
        cursor:context-menu;
    }

    .connect-dropdown {
        position: absolute;
        padding:0;
        margin: 2em 0 0 12.8em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border-radius: 0.5em;
        opacity: 0%;
    }

    .connect-dropdown li a {
        color:black;
        text-decoration: none;
        opacity: 50%;
        padding:0.5em 0.5em 0.5em 0.5em;
        display: flex;
        cursor:context-menu;
    }

    .products-dropdown li a:hover {
        color:black;
        opacity: 100%;
    }

    .company-dropdown li a:hover {
        color:black;
        opacity: 100%;
    }

    .connect-dropdown li a:hover {
        color:black;
        opacity: 100%;
    }

    .products-dropdown-active {
        opacity: 100%;
        transition: 0.3s all;
    }

    .company-dropdown-active {
        opacity: 100%;
        transition: 0.3s all;
    }

    .connect-dropdown-active {
        opacity: 100%;
        transition: 0.3s all;
    }

    .arrow-active {
        transform: rotate(180deg);
        transition: 0.3s all;
    }

    .arrow-active {
        transform: rotate(-180deg);
        transition: 0.3s all;
    }

